@model IEnumerable<Lexiconn.Language>

@{
    ViewData["Title"] = "Мови";
}

<h1>Мови</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id">
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <button type="submit"
                            class="btn btn-danger"
                            onclick="return confirm('Ви впевнені, що хочете видалити цю мову?')">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<a>
    @Html.ActionLink("На головну", "Index", "Home")
</a>