@model Lexiconn.Models.WordData

@{
    ViewData["Title"] = "Редагування запису";
}

<h4>Редагування запису</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Word" class="control-label"></label>
                <input asp-for="Word" class="form-control" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="@ViewBag.LanguageList"></select>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryList"></select>
            </div>

            <div class="form-group">
                <label asp-for="Translation" class="control-label"></label>
                <input asp-for="Translation" class="form-control" />
                <span asp-validation-for="Translation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>

            <div class="form-group">
                <input asp-for="WordId" type="hidden" value="@Model.WordId" />
                <input asp-for="CatWordId" type="hidden" name="catWordId" value="@Model.CatWordId" />
                <input asp-for="TranslationIds" type="hidden" value="@Model.TranslationIds" />
            </div>

            <input type="hidden" name="langId" value="@ViewData["LangId"]" />
            <input type="hidden" name="returnController" value="@ViewData["ReturnController"]" />
            <input type="hidden" name="returnAction" value="@ViewData["ReturnAction"]" />

        </form>
        <a>
            @Html.ActionLink((ViewBag.ReturnController as string).Equals("Home") ? "На головну" : "Назад", ViewBag.ReturnAction as string, ViewBag.ReturnController as string, new { langId = ViewBag.LangId })
        </a>
    </div>
</div>